<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="js/jquery-3.3.1.js"></script>
<link href="css/css?family=Poor+Story" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/main.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="css/simplebar.css" />
<script src="js/simplebar.js"></script>

</head>
<body><div class="bg">
<table border ="0" style="width:100%;height:100%;padding:0px;"><tr style="width:100%;height:100%;">
<td style= "width:20%; height:100%;padding:0px;background-color: rgba(80, 0, 0, 0.5);" valign="top">
<button class="button" to="0">Titre</button>
TOREPLACE

</td>
<td style= "width:80%;height:100%;padding:0px;"  valign="top">
<table border ="0" style="width:100%;height:100%;padding:0px;"><tr style="width:100%;">
<td style="width:100%;height:100%;">
<div id="content" style="padding:0px;width:100%;height:99%;"></div>
</td>
</tr>
<tr style="width:100%;height:20px;">
<td style="width:100%;height:100%;">
<div id="linkAuto" style="padding:0px;width:100%;height:100%;">

</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });

}

</script>
<script src="js/click.js"></script>
<script>
bottomLink(0);
$( "#content" ).load(parser(0), function() {
  $( ".clink" ).click(function() {

  f($(this));
});
$( ".fakelink" ).click(function() {
	
	  f($(this));


	
});

});

var initialLink = 0;

window.setInterval(function(){
  	updateLink();
}, 500);




</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_CHTML" async>
</script>
</div>
</body>
</html>

