@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Vollkorn');
content.img {
	width:20%;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin:5px;
}
body {
	font-family: 'Vollkorn', serif;
}
.liketext {
	text-decoration: color:inherit;
	color:inherit;
}
p {
	text-indent: 10px;
	text-align:justify;
	
}
.title {
font-family: 'Roboto Slab', serif;
font-size: 40px;
color:#00688d;
text-align: center;
}
.subtitle {
font-family: 'Roboto Slab', serif;
font-size: 20px;
color:#888;
text-align: center;
}
.author {
font-family: 'Roboto Slab', serif;
font-size: 20px;
color:#888;
text-align: left;
}
.time {
font-family: 'Roboto Slab', serif;
font-size: 18px;
color:#888;
text-align: left;
}
h1 {
font-family: 'Roboto Slab', serif;
font-size: 25px;
color:#00688d;
padding-left:40px;
}
h2 {
font-family: 'Roboto Slab', serif;
font-size: 16px;
color:#00688d;
padding-left:30px;
}
h3, h4, h5 {
font-family: 'Roboto Slab', serif;
font-size: 12px;
color:#00688d;
padding-left:20px;
}
.figure {
	text-align:center;
}
.figure p {
	text-align:center;
}
.figure img {
	float: none;
	width:40%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin:0px;
	
}
.figure .caption {
font-family: 'Roboto Slab', serif;
font-size: 10px;
color:#00688d;

	
}
.fakelink {
	color:#900088;
	cursor: pointer;
	
}
.fakelink:hover {
	color:#B0B800;
	 text-decoration: underline;
	
}


/* unvisited link */
a:link {
    color: #a00;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #a00;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #a00;
    text-decoration: none;
}
/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.insidetable {
  width: 100%;
  background-color: #fff;
}

.insidetable th, td {
  font-weight: unset;
  padding: 10px;
}

.insidetable td {
   font-family: Montserrat-Regular;
  font-size: 14px;
  color: #404040;
  line-height: 1.4;
}
.insidetable .even {
  background-color: #eaf8e6;
}

.insidetable  th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #333333;
}

.insidetable tr:hover {
  background-color: #83d160;
  color: #fff;
}



.insidetable td:hover {
  background-color: #57b846;
  color: #fff;
  }


	

