@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Vollkorn');
body {
	font-family: 'Vollkorn', serif;
}
.liketext {
	text-decoration: color:inherit;
	color:inherit;
}
.title {
font-family: 'Roboto Slab', serif;
font-size: 40px;
color:#00688d;
text-align: center;
}
.subtitle {
font-family: 'Roboto Slab', serif;
font-size: 20px;
color:#888;
text-align: center;
}
.author {
font-family: 'Roboto Slab', serif;
font-size: 20px;
color:#888;
text-align: left;
}
.time {
font-family: 'Roboto Slab', serif;
font-size: 18px;
color:#888;
text-align: left;
}
h1 {
font-family: 'Roboto Slab', serif;
font-size: 25px;
color:#00688d;
padding-left:35px;
}
h2 {
font-family: 'Roboto Slab', serif;
font-size: 16px;
color:#00688d;
padding-left:25px;
}
h3, h4, h5 {
font-family: 'Roboto Slab', serif;
font-size: 12px;
color:#00688d;
padding-left:15px;
}
.figure {
	text-align:center;
}
.figure img {
	width:60%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
.figure .caption {
font-family: 'Roboto Slab', serif;
font-size: 10px;
color:#00688d;

	
}
.fakelink {
	color:#900088;
	
}
.fakelink:hover {
	color:#B0B800;
	 text-decoration: underline;
	
}